.arrow {
  filter: invert(100%);
  position: absolute;
  z-index: 11;
  transform: rotate(180deg);
  height: 40px; width: 40px;
  padding: 5px;
  top: 15px;
  left: 15px;
}

.modal {
  position: fixed;
  bottom: 10px;
  left: 0;
  z-index: 1000;
  background-color: rgba(27, 27, 26, 0.888);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 0 5px 5px 0;
}

.modal-light {
  position: fixed;
  bottom: 10px;
  left: 0;
  z-index: 1000;
  background-color: rgba(245, 245, 245, 0.781);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 0 5px 5px 0;
}

.modal p {
  margin: 5px;
}

.modal img {
  cursor: pointer;
  filter: invert(100%);
  height: 50px;
  transform: rotate(180deg);
}

#projects {
	display: flex;
	flex-direction: column-reverse;
  align-items: center;
  gap: 42px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.project {
	display: flex;
	flex-direction: column;
	align-items: center;
  border-radius: 20px; border: 1px solid black;
  background-color: rgba(27, 27, 26, 0.496);
  -webkit-box-shadow: 5px 5px 0px 0px #000000, 10px 10px 0px 0px #000000bc, 15px 15px 0px 0px #0000008a, 20px 20px 0px 0px #00000067, 25px 25px 0px 0px rgba(0, 0, 0, 0.207), -24px 3px 29px -1px rgba(0, 0, 0, 0); 
  box-shadow: 5px 5px 0px 0px #000000, 10px 10px 0px 0px #000000bc, 15px 15px 0px 0px #0000008a, 20px 20px 0px 0px #00000067, 25px 25px 0px 0px rgba(0, 0, 0, 0.207), -24px 3px 29px -1px rgba(0, 0, 0, 0); 
  width: 80%;
	gap: 10px;
  transition: 0.5s;
  &:hover {
    border: 1px solid darkred;
    box-shadow: none;
  }
}

.project-light:hover {
  border: 1px solid whitesmoke;
  box-shadow: none;
}

.topSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 10px 30px 66px;
}

hr {
  width: 90%;
  border-color: rgba(0, 0, 0, 0.54);
}

.bottomSection {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btnRight {
  display: flex;
  flex-direction: row;
}

.project img {
	height: 120px;
  aspect-ratio: 3/1;
  filter: contrast(0.8);
	border-radius: 5px;
  margin: 30px 30px auto;
  object-fit: cover;
}

.project button img {
	height: 20px;
  width: 20px;
	filter: none;
	border-radius: 0;
  margin-top: 0;
  margin-bottom: 2px;
} 

button {
	background: none;
	padding: 8px 24px;
	font-family: 'Rationale', sans-serif;
	cursor: pointer;
	position: relative;
	margin-left: 20px;
	border: 2px solid black;
}

.github-code a {
	color: black;
}

.site a {
	color: black;
}

.github-code img{
	height: 25px; width: auto;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: gray; 
	border-radius: 10px;
}

.more {
  margin-bottom: 20px;
}

@media  screen and (max-width:800px) { 
  
  .topSection {
    flex-direction: column-reverse;
    width: 80%;
    gap: 10px;
    margin: 10px;
    margin-bottom: 30px;
  }

  .topSection img {
    height: 180px;
    width: 98%;
  }

}

@media screen and (max-width:500px) {

  .topSection {
    flex-direction: column-reverse;
    width: 80%;
    gap: 10px;
    margin: 10px;
    margin-bottom: 30px;
  }

  .topSection img {
    height: 80px;
  }
  
}