@font-face {
	font-family: 'Rationale';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/rationale/v28/9XUnlJ92n0_JFxHIfHcccVtN.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	font-family:'Rationale', sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #dcdcd5;
	color: black;
}

.dark-mode {
	background-color: #171717;
	color: white;
}

main {
	display: flex;
	flex-direction: column;
	margin: 10px 20px 10px 20px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 15px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: gray; 
	border-radius: 10px;
}

/* ---------------------------------------------------------------------------------- */

.loader {
    position: fixed;
	display:flex;
  	justify-content:center;
  	gap:80%;
	font-family: 'Segoe UI', sans-serif;
  	font-size:0px;
	font-weight: 500;
    height: 100%;
    width: 100%;
	top: 0;
    left: 0;
    right: 0;
    background-color: #dcdcd5;
    animation: loader .01s;
    animation-delay: 4s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;

}

#k1 {
	position:relative;
	animation-name: k;
	animation-duration: 4s;
	animation-delay: 0s;
  
}
  
#c1 {
	position:relative;
	animation-name: c;
	animation-duration: 4s;
	animation-delay: 0s;
}

@keyframes loader {
	0%   { opacity: 1 ; }
	25%  { opacity: 0.25; }
	50%  { opacity: 0.5; }
	75%  { opacity: 0.75; }
	100% { opacity: 0; z-index: -10; }
}
  
@keyframes k {
	0%   { left:0px; }
	50% { left:-42%; font-size:80px; }
	100% { left: -42%; font-size:80px; }
}
  
@keyframes c {
	0%   { left: 0px; }
	50% { left: 40.5%; font-size:80px; }
	100% { left: 40.5%; font-size:80px; }
}

/* ---------------------------------------------------------------------------------- */

header {
	display: flex;
    align-items: center;
    gap: 30%;
    height: 60px;
    width: 100%;
    position: fixed;
	top: 0;
    backdrop-filter: blur(1px);
    z-index: 2;
}

.navbar {
	display: flex;
	gap: 13px;
}

a {
	text-decoration: none;
	color: inherit;
	font-size: 20px;
	font-weight: 900;
	cursor: pointer;
}

.logoKC{
	display: flex;
	font-family: 'Segoe UI', sans-serif;
	font-size: 53px;
	font-weight: 600;
}

#K {
	margin-right: -40px;
}

.logo-header {
	display: flex;
	flex-direction: row;
	gap: 5%;
}

.logo-header img {
	margin-top: 10px;
	height: 33px;
	filter: grayscale(100%);
}

.logo-header img:hover {
	filter: invert(10%)
}

.lightDark {
	padding: 0;
	border: 0px;
	background: none;
}

.lightDark:hover {
	rotate: 360deg;
}

/* ---------------------------------------------------------------------------------- */

.presentation {
	margin: 200px 80px 200px 80px;
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.presentation h1 {
	margin-top: 0;
	font-size: 100px;
	font-weight: 400;
	margin-bottom: 0;
	border-top: 0;
}

.presentation h2 {
	font-size: 50px;
	display: flex;
	flex-direction: column;
}

.presentation h2::after {
	content: "FullStack in progress..";
	font-size: 10px;
	margin-left: 3%;

}

.presentation button {
	background-color: white;
	color: black;
	margin-left: 20px;
	border-radius: 3px;
}

.presentation button img{
	height: 15px;
}

/* ---------------------------------------------------------------------------------- */

.wrap {
	position: relative;
	width: 350px; height: 350px;
}

.minute, .heure {
	position: absolute;
	height: 96px; width: 6px;
	margin: auto;
	top: -28.5%; left: 0;	bottom: 0; right: 0;
	transform-origin: bottom center;
	transform: rotate(0deg);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
	background: black;
	border-radius: 10px 0 0 0 ;
	border-style: groove;
}

.minute {
	position: absolute;
	height: 130px; width: 4px;
	top: -38%; left: 0;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
	transform: rotate(90deg);
}

.seconde {
	position: absolute;
	height: 90px; width: 2px;
	margin: auto;
	top: -26%; left: 0; bottom: 0; right: 0;
	border-radius: 4px;
	background: darkred;
	transform-origin: bottom center;
	transform: rotate(180deg);
	border-radius: 0 10px 0 0;
	border-style: groove;
}

.dot {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 12px; height: 12px;
	background: white;
	border: 2px solid #1b1b1b;
	border-radius: 20%;
	margin: auto;
}

/* ---------------------------------------------------------------------------------- */

.skills {
	display: flex;
	flex-direction: column;
	gap: 20%;
}

.skills h2 {
	text-decoration: underline;
}

.languages {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tools {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1  {
	border-top: 3px solid black;
}
  
ul {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 25px;
	justify-content: center;
}

li {
	font-size: 24px;
	font-weight: 400;
	width: 104px;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

li:hover {
	font-weight: 800;
}

li img {
	transform-origin: top center;
	height: 80px;
}

/* animation outils */
#wiggle:hover {
    animation-name: wiggle;
    animation-duration: 1000ms;
    animation-timing-function: ease-in;
}

@keyframes wiggle {
	0% {
	  rotate:0;
	}
	25% {
	  rotate: 25deg;
	}
	50% {
	  rotate: -25deg;
	}
	75% {
		rotate: 10deg;
	}
	100% {
	  rotate: 0;
	}
  }

/* ---------------------------------------------------------------------------------- */

.career {
	margin-top: 30px;
}

.timeline {
	margin-top: 100px;
	margin-bottom: 100px;
	position: relative;
	width: 100%;
}

.timeline::after {
	content: '__2023 - __ - __ - __ - __ - __ - __ - __ - __ - __ - __ - __ - __ - __ - __ - __ - __2018 - __ -';
	position: absolute;
	width: 6px;
	background-color: rgba(111, 107, 107, 0.368);
	top: 0; bottom: 0; left: 50%;
	margin-left: -3px;
}

.container {
	position: relative;
	background-color: inherit;
	width: 45%;
}

.right {
	left: 55%;
}

.content {
	padding: 20px 30px;
	background-color: rgba(0, 0, 0, 0.44);
	position: relative;
	border-radius: 6px;
}

.flip-card {
	background-color: transparent;
	height: 200px;
	perspective: 1000px;
  }

.flip-card-inner {
	position: relative;
	width: 100%; height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}
  
.flip-card-front {
	background-color: rgba(0, 0, 0, 0.519);
	color: white;
	border-radius: 10px;
}

.flip-card-back {
	background-color: rgba(0, 0, 0, 0.519);
	color: white;
	transform: rotateY(180deg);
	border-radius: 10px;
	height: 200px;
}

/* ---------------------------------------------------------------------------------- */

/* button animation */
.offset {  
	box-shadow: 
	  0.3em 0.3em 0 0 #00000038,
	  inset 0.3em 0.3em 0 0 #00000037;
	  border: 1px solid black;
	&:hover,
	&:focus {
	  box-shadow: 
		0 0 0 0 #00000036,
		inset 6em 3.5em 0 0 #00000053;
	}
}

  
button {
	transition: 1.15s;
	&:hover,
	&:focus { 
	  border-color: rgb(0, 0, 0);
	}
}

/* button animation */
.slide:hover,
.slide:focus {
  box-shadow: inset 11.5em 0 rgba(44, 43, 43, 0.427);
}

/* ---------------------------------------------------------------------------------- */

/* project animation */

.reveal{
	position: relative;
	transform: translateY(50px);
	opacity: 0;
	transition: 2s all ease;
}

.reveal.active{
	transform: translateY(0);
	opacity: 1;
}

.projects {
	display: flex;
	flex-direction: column;
    gap: 22px;
}

.project{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.project img {
	height: 500px;
    width: 70%;
    aspect-ratio: 3/1;
    filter: contrast(0.8);
	border-radius: 30px 30px 3px 3px;
}

.project button img {
	aspect-ratio: 1/1;
	height: 17px;
    width: 16%;
	filter: none;
	border-radius: 0;
} 

.description {
	margin-top: -10px;
	border-radius: 0 0 5px 5px;
	padding-bottom: 10px;
	z-index: 1;
	width: 70%;
	background-color: rgba(245, 245, 245, 0.204); backdrop-filter: blur(10px);
	font-size:18px;
	display: inline;
}

.description p {
	margin-left: 10px;
}

.projectFooter {
	display: flex;
    flex-direction: row;
    align-items: center;
}

.langTools {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.langTools li {
	list-style-type: none;
	padding: 5px;
	width: auto;
}

button {
	background: none;
	padding: 8px 24px;
	border-radius: 3px 20px 3px 3px;
	font-family: 'Rationale', sans-serif;
	cursor: pointer;
	font-display: swap;
	font-size: 18px;
	font-weight: 600;
	position: relative;
	margin-left: 20px;
	border: 2px solid black;
}

.github-code a {
	color: black;
}

.site {
	display: inline;
}

.site a {
	color: black;
}

#project6 .site{
	display: none;
}

#project8 .site{
	display: none;
}

#project10 .site{
	display: none;
}

#project11 .site{
	display: none;
}

.github-code img{
	height: 25px; width: auto;
}

hr {
	width: 100%;
}

/* ---------------------------------------------------------------------------------- */

#links {
	margin-top: 80px;
}

.links button {
	border-radius: 5px;
}

.links button:hover {
	filter: brightness(80%);
}

.links img {
	height: 30px;
}

.links a {
	display: flex;
	align-items: center;
	gap: 8px;
}

#github-btn {
	background-color: #24292E;
}

#github-btn a{
	color: white;
}

#email-btn {
	background-color: beige;
	color: black;
}

#linkedin-btn {
	background-color: white;
	color: black;
}

/* .copy {
	position: absolute;
	z-index: 1;
}

#discord-btn a {
	color: white;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 400;
} */

footer {
	display: flex;
	justify-content: center;
}

/* ---------------------------------------------------------------------------------- */

@media screen and (min-width: 426px) and (max-width: 1023px) {
	
	header {
		gap: 21%;
	}

	.presentation {
		margin-left: 0;
	}
	
	.wrap {
		width: auto;
	}

	.project img {
		height: 378px;
		width: 90%;
	}

	.description {
		width: 90%;
	}
	
	.timeline::after {
		display: none;
	}
	  
	.container {
		position:inherit;
		margin-bottom: 20px;
		width: 100%;
	}

	.container::before {
	  	left: 60px;
	  	border: medium solid white;
	  	border-width: 10px 10px 10px 0;
	  	border-color: transparent white transparent transparent;
	}
	  
	.left::after, .right::after {
	  	left: 15px;
	}

	.left {
		left: 0;
	}

	.right {
		left: 0;
		margin-bottom: 0;
	}

}

/* ---------------------------------------------------------------------------------- */

@media screen and (max-width: 600px) {

	a {
		font-size: 16px;
	}

	.logoKC {
		font-size: 33px;
	}

	#K {
		margin-right: -27px;
	}

	header {
		gap: 10%;
		width: 90%;
		justify-content: space-around;
	}

	.lightDark {
		display: none;
	}

	.logo-header a{
		display: none;
	}

	.presentation {
		margin: 120px auto;
	}

	.presentation h1 {
		font-size: 75px;
	}

	.presentation h1::before {
		display: none;
	}

	.presentation h2 {
		font-size: 30px ;
		margin-left: 10px;
	}

	.clock {
		display: none;
	}

	.timeline::after {
		display: none;
	}
	  
	.container {
		position:inherit;
		margin-bottom: 20px;
		width: 100%;
	}

	.container::before {
	  	left: 60px;
	  	border: medium solid white;
	  	border-width: 10px 10px 10px 0;
	  	border-color: transparent white transparent transparent;
	}

	.container h3 {
		margin: 10px;
	}

	.container p {
		margin: 10px;
	}
	  
	.left::after, .right::after {
	  	left: 15px;
	}

	.left {
		left: 0;
	}

	.right {
		left: 0;
		padding-bottom: 40px;
	}

	.project {
		flex-direction: column;
		border-bottom: 2px solid black;
		padding-bottom: 10px;
	}

	.project img {
		height: 200px; width: 100%;
		aspect-ratio: 3/1;
		filter: contrast(0.8);
	}

	button {
		padding:6px 17px;
		margin-left: 11px;
	}

	.project button img {
		width: 17px;
	}

	.description {
		width: 100%;
	}

	.github-code img {
		width: auto;
	}

	.links {
		display: flex; flex-direction: column;
		align-items:flex-start;
		gap: 10px;
	}

	.links a {
		font-size: 15px;
	}

	.copy {
		position: relative;
	}

}

@media screen and (max-width: 400px) {
	.right {
		height: 235px;
	}

	.flip-card-back {
		height: 269px;
	}
}